<div class="demo-tab">
  <PicasaSplitView @isVertical={{false}} @class="splitViewHorizontal" as |split|>
    <split.child @class="border" />
    {{split.sash}}
    <split.child @class="border" />
  </PicasaSplitView>
</div>
