<div class="demo-tab">
  <PicasaSplitView @isVertical={{true}} @class="splitViewVertical" as |split|>
    <split.child @class="border">
      <Ring/>
    </split.child>
    <split.sash />
    <split.child @class="border">
      <Yoda />
    </split.child>
  </PicasaSplitView>
</div>
